.card {
  perspective: 250rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &_side {
    height: 50rem;
    transition: all 1.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    // overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
    opacity: 0.9;

    &--front {
      &-1 {
        background-color: $color-implant-secondary-pink;
      }
      &-2 {
        background-color: $color-implant-secondary-purp;
      }
      &-3 {
        background-color: $color-implant-secondary-blue-dark;
      }
      &-4 {
        background-color: $color-implant-secondary-blue-light;
      }
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-implant-secondary-pink,
          $color-implant-pink
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-implant-secondary-purp,
          $color-implant-purp
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-implant-secondary-blue-dark,
          $color-implant-blue-dark
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          $color-implant-secondary-blue-light,
          $color-implant-blue-light
        );
      }
    }
  }

  &:hover &_side--front {
    transform: rotateY(-180deg);
  }
  &:hover &_side--back {
    transform: rotateY(0);
  }

  &-picture {
    width: 50%;
    box-shadow: 0 1.5rem 3rem $color-black;
    border-radius: 50%;
    margin: -3rem 0 0 25%;
    &-1 {
      background-color: $color-implant-secondary-pink;
    }
    &-2 {
      background-color: $color-implant-secondary-purp;
    }
    &-3 {
      background-color: $color-implant-secondary-blue-dark;
    }
    &-4 {
      background-color: $color-implant-secondary-blue-light;
    }
  }

  &-heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
  }

  &-details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        color: $color-grey-light-1;
        text-align: center;
        font-size: 1.3rem;
        padding: 01rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-1;
        }
      }
    }
  }
}
