.composition {
  position: relative;

  @include media(phone) {
    margin-top: -3rem;
    margin-left: 3rem;
  }

  &_photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: 0.35);
    border-radius: 0.1rem;
    position: absolute;
    z-index: 5;
    transition: all 0.3s;

    &_p1 {
      top: -1rem;
      left: 0;
      @include media(phone) {
        top: 1rem;
      }
    }
    &_p2 {
      right: 3rem;
      top: 2rem;
    }
    &_p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 2rem 4rem rgba($color-purple-dark, $alpha: 0.4);
      z-index: 6;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.95);
  }
}
