.feature-box {
  background-color: rgba($color-white, $alpha: 0.8);
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.55);
  transition: all 0.2s;
  width: 100%;
  height: auto;
  max-height: 32rem;

  @include media(phone) {
    overflow: scroll;
  }

  &-img {
    width: 25%;
    margin-bottom: 0.5rem;
  }

  &-paragraph {
  }

  &:hover {
    transform: scale(1.1);
  }
}
