.form {
  &-input {
    font-family: "Lato", sans-serif;
    border: none;
    border-radius: 0.2rem;
    border-bottom: 2px solid transparent;
    background-color: rgba($color-white, $alpha: 0.6);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    width: 80%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 3rem rgba($color-black, $alpha: 0.3);
      border-bottom: 2px solid $color-book-form-input;
      color: $color-black;
    }
    &:focus:invalid {
      border-bottom: 2px solid $color-implant-secondary-pink;
    }

    &::-webkit-input-placeholder {
      color: rgba($color-grey-dark, $alpha: 0.8);
    }
  }
  // this is selected the sibling element right after the input element, which is
  // the label element I am trying to hide.
  &-input:placeholder-shown + &-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5rem);
  }

  &-label {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: all 0.3s;
  }

  &-group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  //Radio button section
  // Cannot style radio buttons in CSS so this is a workaround using a span
  // just hide the initial radio button and style your span on top of it.
  &-radio-input {
    display: none;
  }

  &-radio-group {
    width: 40%;
    display: inline-block;
  }
  &-radio-label {
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
    padding-left: 2.5rem;
  }
  &-radio-btn {
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 2px solid $color-purple-dark;
    border-radius: 50%;
    left: 0;
    top: -0.4rem;
    @include media(phone) {
      border: 1px solid $color-white;
    }
    &::after {
      height: 1.2rem;
      width: 1.2rem;
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-purple-dark;
      opacity: 0;
      transition: all 0.2s;
      @include media(phone) {
        background-color: $color-white;
      }
    }
  }
  &-radio-input:checked ~ &-radio-label &-radio-btn::after {
    opacity: 1;
  }
}
